button {
  width:120px;
}

#button-div {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 10px;
  width:100%;
  z-index: 1;
  border: 2px soild black;
}
.swal-icon img{
  width:100px;
  height:100px;
}


